$TTL 3600
@       IN SOA  node1.viannijeu.cm. root.viannijeu.cm. (
                                        2       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum
        IN	NS	node1.viannijeu.cm.
10	IN	PTR	node1.viannijeu.cm.
10	IN	PTR	node1.viannijeu.cm.
20	IN	PTR	node2.viannijeu.cm.
30	IN	PTR	node3.viannijeu.cm.
