$TTL 3600
@       IN SOA  node1.viannijeu.cm. root.viannijeu.cm. (
                                        2       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum
        IN	NS	node1.viannijeu.cm.
viannijeu.cm	IN	A	192.168.10.10
node1	IN	A	192.168.10.10
node2	IN	A	192.168.10.20
node3	IN	A	192.168.10.30
